In [6]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
movies = pd.read_csv(r'C:\Users\hp\OneDrive\Documents\Desktop\movie recommnedation\ml-latest-small\movies.csv')
movies.head()  # optional: see first rows

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
def recommend_movies_by_name(movie_name, top_n=5, genre_filter=None):
    if genre_filter:
        filtered_movies = movies[movies['genres'].str.contains(genre_filter, case=False, na=False)]
    else:
        filtered_movies = movies.copy()
    
    if movie_name not in filtered_movies['title'].values:
        return f"Movie '{movie_name}' not found in the dataset (or genre filter removed it)."
    
    count = CountVectorizer()
    count_matrix = count.fit_transform(filtered_movies['title'])
    cosine_sim = cosine_similarity(count_matrix, count_matrix)
    
    idx = filtered_movies[filtered_movies['title'] == movie_name].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:top_n+1]
    movie_indices = [i[0] for i in sim_scores]
    return filtered_movies['title'].iloc[movie_indices]

In [9]:
print("Top 3 Horror recommendations for 'Toy Story (1995)':")
print(recommend_movies_by_name('Toy Story (1995)', top_n=3, genre_filter='Horror'))

print("\nTop 5 Sci-Fi recommendations for 'Star Wars: Episode IV - A New Hope (1977)':")
print(recommend_movies_by_name('Star Wars: Episode IV - A New Hope (1977)', top_n=5, genre_filter='Sci-Fi'))

print("\nTop 5 recommendations without genre filter:")
print(recommend_movies_by_name('Forrest Gump (1994)', top_n=5))

Top 3 Horror recommendations for 'Toy Story (1995)':
Movie 'Toy Story (1995)' not found in the dataset (or genre filter removed it).

Top 5 Sci-Fi recommendations for 'Star Wars: Episode IV - A New Hope (1977)':
2760                    Running Man, The (1987)
5533                 G.I. Joe: The Movie (1987)
3080             Masters of the Universe (1987)
3045            Amazon Women on the Moon (1987)
1989    Superman IV: The Quest for Peace (1987)
Name: title, dtype: object

Top 5 recommendations without genre filter:
216        I.Q. (1994)
343      S.F.W. (1994)
48     Lamerica (1994)
122     Amateur (1994)
135       Crumb (1994)
Name: title, dtype: object

In [13]:
print(recommend_movies_by_name('Toy Story (1995)', top_n=3))

2355                   Toy Story 2 (1999)
7355                   Toy Story 3 (2010)
256     Pyromaniac's Love Story, A (1995)
Name: title, dtype: object